body {
  margin: 15px;
}

.Cell {
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  font-size: 1em;
  cursor: pointer;
  margin: 2px;
  box-shadow: 0 0 0 1px #9E9E9E;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s;
}

.Cell:not(.Opened):hover {
  background-color: #8080803d;
}

.Opened {
  animation: opening 2s;
}

@keyframes opening {
  from {
    background-color: #4caf50;
  }
}

.Loading {
  animation: loading infinite .5s alternate;
}

@keyframes loading {
  from {
    background-color: #ffc107;
  }
  to {
    background-color: orange;
  }
}

.Done {
  visibility: hidden;
}

.Bomb {
  background-color: red;
  pointer-events: none;
}

.Row {
  display: flex;
}